name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: JFrog Fly - Configure all your package managers to work with Fly registry
        uses: jfrog/fly-action@v1
        with:
          url: https://supportfly.jfrog.io
      - name: Tidy modules
        run: go mod tidy
      - name: Build Go
        run: go build -v ./...
      - name: Test
        run: go test -v ./... || true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push Docker image
        run: |
          docker build -t supportfly.jfrog.io/aanchal-frogfly:${{ github.sha }} -t supportfly.jfrog.io/aanchal-frogfly:latest .
          docker push supportfly.jfrog.io/aanchal-frogfly:${{ github.sha }}
          docker push supportfly.jfrog.io/aanchal-frogfly:latest
